body {
    font-family: 'Open Sans', sans-serif; 
}


#hero {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 75vh;
}

#adventure {

    margin-top: 25px;
    margin-bottom: 200px;
}

#BookYourFlight h2 {
 text-align:center;
 font-size:38px;
 margin-bottom:100px;

}


#BookYourFlight .BookYourFlight-card {
 background-image: url("../images/Book-Your-Flight.png");
 background-size:cover ;
 height:565px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom:20px;
}

#MakeaReservation h2 {
 text-align:center;
 font-size:38px;
 margin-bottom:100px;
   
}
   
   
#MakeaReservation .MakeaReservation-card {
 background-image: url("../images/Make-a-Reservation.png");
 background-size:cover ;
 height:565px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom:20px;
 }

#PlanaTrip h2 {
 text-align:center;
 font-size:38px;
 margin-bottom:100px;
   
}
   
   
#PlanaTrip .PlanaTrip-card {
 background-image: url("../images/Plan-a-Trip.png");
 background-size:cover ;
 height:565px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom:20px;
}